<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Alta cliente</h1>
<div>
  <p>Nombre: <input type="text" [(ngModel)]="nombre"></p>
  <p>CIF: <input type="text" [(ngModel)]="cif"></p>
  <p>Dirección: <input type="text" [(ngModel)]="direccion"></p>
  <p>Grupo: <input type="text" [(ngModel)]="grupo"></p>
  <button (click)="afegirclient()">Guardar</button>
</div>

<app-client [data]="clientes"></app-client>
